@model IEnumerable<QuestGame.WebMVC.Areas.Game.Models.QuestViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Quest Game</h2>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Доступные квесты</h3>
        </div>
        <div class="panel-body">
            <p>Здесь список квестов</p>
            
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Cover)</th>
                        <th>@Html.DisplayNameFor(x => x.Title)</th>
                        <th>@Html.DisplayNameFor(x => x.Owner)</th>
                        <th>@Html.DisplayNameFor(x => x.Rate)</th>
                        <th>@Html.DisplayNameFor(x => x.Date)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var quest in Model)
                    {
                        <tr>
                            <td>
                                <img src=@quest.Cover alt=@quest.Title height="100" width="100">
                            </td>
                            <td>@Html.ActionLink(quest.Title, "Details", new {id = quest.Title}, null)</td>
                            <td>@quest.Owner</td>
                            <td>@quest.Rate</td>
                            <td>@quest.Date</td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.ActionLink("Назад", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>