@model QuestGame.WebApi.Areas.Design.Models.QuestViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<blockquote>
    <h2>@Model.Title</h2>
</blockquote>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Информация</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner)
            </dd>
        </dl>

        <p>@Html.ActionLink("Добавить сцену", "Create", "Stage", new { id = Model.Id }, new { area = "Design" }) </p>

    </div>
</div>


@if (Model.Stages.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Сцены</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        Название
                    </th>
                    <th>
                        Тег
                    </th>
                    <th>
                        Текст
                    </th>
                    <th>
                        Баллы
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Stages)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Point)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", "Stage", new { id = item.Id }, new { area = "Design" })
                        </td>
                    </tr>
                }

            </table>


        </div>
    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
