@model QuestGame.WebApi.Areas.Design.Models.StageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<blockquote>
    <h2>@Model.Title</h2>
</blockquote>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Информация</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tag)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Point)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Point)
            </dd>

        </dl>

        <p>@Html.ActionLink("Добавить действие", "Create", "Motions", new { id = Model.Id }, new { area = "Design" }) </p>

    </div>
</div>



@if (Model.Motions.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Действия сцены</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        Описание действия
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Motions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Motions", new { id = item.Id }, new { area = "Design" }) |
                            @Html.ActionLink("Delete", "Delete", "Motions", new { id = item.Id }, new { area = "Design" })
                        </td>
                    </tr>
                }

            </table>


        </div>
    </div>
}

<p>
    @Html.ActionLink("Edit", "Edit", "Stage", new { id = Model.Id }, new { area = "Design" }) |
    @Html.ActionLink("Back to List", "Details", "Quests", new { id = Model.QuestId }, new { area = "Design" })
</p>
