@model QuestGame.WebApi.Models.UserViewModels.UserRegisterVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@if (ViewBag.Alerts != null)
{
    foreach (var alert in ViewBag.Alerts)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Ошибка</strong>
            @alert
        </div>
    }
}


@using (Html.BeginForm("Index", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Введите регистрационные данные</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Расскажите о себе подробнее</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Bithday, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Bithday, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Bithday, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Contry, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Contry, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contry, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-md-12">
                            <img height="220" src="http://www.novelupdates.com/img/noimagefound.jpg" class="img-circle">
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-10 upload btn btn-info">
                                <span>Загрузить</span>
                                <input type="file" name="File" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4">
                <input type="submit" value="Регистрация" class="btn btn-primary btn-lg col-sm-10" />
            </div>
        </div>

    </div>
}

<style>
       div.upload {
       /*width: 157px;
       height: 57px;
       background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);*/
       overflow: hidden;
   }

   div.upload input {
       display: block !important;
       /*width: 157px !important;
       height: 57px !important;*/
       opacity: 0 !important;
       overflow: hidden !important;
   }

           div.upload span {
               display: inline-block;
               width:100%;
               text-align:center;
               position: absolute;
               top:7px;
               left:10px;
           }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
