@model QuestGame.Domain.DTO.StageDTO

@{
    ViewBag.Title = "EditStage";
}

<div class="row page-header">
    <h3>Сцена</h3>
    <h1>@Model.Title</h1>
</div>


<div class="row">

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Описание</div>
            <div class="panel-body">
                <div class="col-md-4">
                    <p class="thumbnail">
                        <img src="@Model.Content.Image" alt="@Model.Title">
                    </p>
                </div>
                <div class="col-md-8">
                    <p>@Model.Content.Text</p>
                </div>

                <div class="col-md-8 col-lg-offset-4">
                    @Html.ActionLink("Добавить действие", "AddStage", "Stages", new { id = @Model.Id }, new { @class = "btn btn-primary" })
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Действия сцены</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Описание действия</th>
                                <th>Переход на сцену</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var operat in Model.Operations)
                            {
                                <tr>
                                    <th scope="row"></th>
                                    <td>@operat.Description</td>
                                    <td>@operat.StageId</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>