@model IEnumerable<QuestGame.WebApi.Areas.Game.Models.QuestViewModel>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Content/HomeJS/background.js")
@Styles.Render("~/Content/HomeCSS/Home.css")
<div id="backgroundPicture">
    <div class ="opacited" id="playGame">
        <br />
        <br />
        @{
            var user = Session["User"] as QuestGame.WebApi.Models.UserModel;
            if (user != null)
            {
                @Html.ActionLink("Play Game", "Index", "MainPage", new { area = "Game" }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
            }
            else
            {
                @Html.ActionLink("Выполнить вход", "Login", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
            }
        }
        <br />
        <br />
        <p>Quest Game - Квестовая игра, выполненная при помощи технологий ASP.NET Web API и MVC</p>
    </div>
    <div id="center">
        <div id="news" class="opacited">
            <br />
            <b>Новости</b>
        </div>
        <div id="topQuests" class="opacited">
            <br />
            <b>&nbsp;&nbsp; Популярные квесты:</b>
            <br />
            <br />
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Рейтинг</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var quest in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(quest.Title, "Details", new { id = quest.Title }, null)</td>
                            <td>@quest.Rate</td>
                        </tr>
                    }*@
                    <tr>
                        <th>1</th>
                        <th>9</th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>6</th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th>6</th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th>2</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="topPlayers" class="opacited">
            <br />
            <b>&nbsp;&nbsp;&nbsp;Топ игроков:</b>
            <br />
            <br />
            <table class="table table-hover table-bordered" style="font-size:12px;">
                <thead>
                    <tr>
                        <th>Имя игрока</th>
                        <th>Уровень</th>
                    </tr>
                </thead>
                <tbody>
            
                    <tr>
                        <th>admin</th>
                        <th>12</th>
                    </tr>
                    <tr>
                        <th>Dane</th>
                        <th>7</th>
                    </tr>
                    <tr>
                        <th>Вася</th>
                        <th>4</th>
                    </tr>
                    <tr>
                        <th>Валера</th>
                        <th>2</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="developers" class="opacited">
        <br />
        <b>Разработчики:</b>
    </div>
</div>
