@{
    var user = Session["User"] as QuestGame.Domain.DTO.ApplicationUserDTO;

    if (user != null)
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (user.NickName != null)
                {
                    @Html.ActionLink("Здравствуйте, " + user.NickName + "!", "UserProfile", "Account", new { area = "", id = user.Id }, null)
                }
                else
                {
                    @Html.ActionLink("Здравствуйте, " + user.UserName + "!", "UserProfile", "Account", new { area = "", id = user.Id }, null)
                }
            </li>
            <li>
                @Html.ActionLink("Выйти", "LogOff", "Account")
            </li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
}
