@model QuestGame.WebApi.Areas.Game.Models.NewQuestViewModel

@{
    ViewBag.Title = "AddQuest";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Добавление квеста</h2></div>
        <div class="panel-body">

            @using (Html.BeginForm("AddQuest", "Designer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("Owner")

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(n => n)</label>
                    @Html.TextBoxFor(t => t.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(v => v)
                </div>
                <div class="col-sm-4">
                    <div class="pull-right">
                        <div class="btn-group">
                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                            @Html.ActionLink("Отменить", "Index", "Designer", new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

